html, body {
    background-color: #212121;
}

.navbar-inverse {
    background-color: #121212;
}

.panel {
    border-color: #616161 !important;
}

.panel-heading {
    background-color: #616161 !important;
    color: white !important;
    border-color: #616161 !important;
}

.panel-body {
    background-color: #424242 !important;;
    color: white !important;;
}

.form-control {
    background: #616161;
    border-color: #757575;
}

.btn-default {
    background-color: #616161 !important;
    border-color: #757575 !important;
    color: white !important;
}

table.dark {
    color: #9d9d9d;
}

table.dark input {
    background-color: #424242;
}

table.table-hover.dark tr:hover {
    background-color: #424242;
}