html, body {
    overflow-x: hidden;
}

#searchSide .form-group, #searchSide .form-control {
    max-width: 100%;
}

#searchSide ul {
    list-style: none;
    padding: 0;
}

#applyFilterBtn {
    margin-top: 10px;
}

.productList h3 {
    margin: 0;
}

.btn.disabled {
    cursor: default !important;
}

.quickAdd {
    margin-top: 50px;
}

img {
    width: 100%;
}

.reviewList {
    list-style: none;
}

.reviewList .author {
    color: #888;
    font-size: 12px;
}

.reviewList .content {
    text-align: justify;
}

.reviewList h5 {
    font-weight: bold;
}

#addRewiew #content {
    resize: none;
}